/*----------------------------------------------------HEADER INITIAL//------------------------------------------------*/

body {
	background: #1c2331;
}

.container-header {
	flex: 1 1 100%;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.line-header-bottom {
	padding-left: 0;
	padding-right: 0;
	background: #343a45;
	border-bottom: 5px solid #ed3037;
}

.logo-responsive {
	padding: 0;
}

.navbar-custom-mini {
	background-color: #ed3037 !important;
	height: 22px;
}

.navbar-custom-mini .navbar-brand,
.navbar-custom-mini .navbar-text {
	color: rgba(255, 255, 255, 0.8);
}

.navbar-custom-mini .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.5);
}

.navbar-custom-mini .nav-item.active .nav-link,
.navbar-custom-mini .nav-item:hover .nav-link {
	color: #ffffff;
}

.navbar-custom-mini .dropdown-menu {
	background-color: #272d33;
}

.navbar-custom-mini .dropdown-item {
	color: #ffffff;
}

.navbar-custom-mini .dropdown-item:hover,
.navbar-custom-mini .dropdown-item:focus {
	color: #333333;
	background-color: rgba(255, 255, 255, 0.5);
}

#dropdown-tls {
	min-width: 90px;
	background-color: #ed3037;
	font-size: 120%;
}

#dropdown-item-tls img {
	border-radius: 30px;
	width: 20px;
	height: 17px;
	margin-top: -4px;
	margin-right: 5px;
}

.hw-bg {
	background-color: #272d33 !important;
	/*#121212*/
	padding: 1px;
}

.navbar-brand {
	height: 75px;
	margin-top: 5px;
	margin-bottom: 5px;
	justify-content: center;
	margin: 0 auto;
}

/*---------------------------------------------THEME-LIST--------------------------------------*/
.button-theme {
	background-color: #bd2130;
	color: #fff !important;
	font-size: 13px;
	font-weight: bold;
	border-radius: 0px 0px 5px 5px;
}

.theme-list-jl ul,
.theme-list-jl li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 35px;
	cursor: pointer;
	/*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

.theme-list-jl ul :not(collapsed) .arrow:before,
.theme-list-jl li :not(collapsed) .arrow:before {
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
}

.theme-list-jl ul .active,
.theme-list-jl li .active {
	border-left: 3px solid #bd2130;
	background-color: #4f5b69;
}

.theme-list-jl ul .sub-menu li.active,
.theme-list-jl li .sub-menu li.active {
	color: #d19b3d;
}

.theme-list-jl ul .sub-menu li.active a,
.theme-list-jl li .sub-menu li.active a {
	color: #bd2130;
}

.theme-list-jl ul .sub-menu li,
.theme-list-jl li .sub-menu li {
	background-color: #181c20;
	border: none;
	line-height: 28px;
	border-bottom: 1px solid #23282e;
	margin-left: 0px;
}

.theme-list-jl ul .sub-menu li:hover,
.theme-list-jl li .sub-menu li:hover {
	background-color: #020203;
}

.theme-list-jl ul .sub-menu li:before,
.theme-list-jl li .sub-menu li:before {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	padding-left: 2px;
	padding-right: 2px;
	vertical-align: middle;
}

.theme-list-jl li {
	padding-left: 5px;
	border-left: 10px solid #2e353d;
	border-bottom: 1px solid #23282e;
}

.theme-list-jl li a {
	text-decoration: none;
	color: #e1ffff;
}

.theme-list-jl li a i {
	padding-left: 20px;
	width: 20px;
	padding-right: 20px;
}

.theme-list-jl li:hover {
	border-left: 3px solid #bd2130;
	background-color: #4f5b69;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.theme-list-jl {
	overflow: auto;
	font-family: verdana;
	font-size: 12px;
	font-weight: 200;
	background-color: #2e353d;
	top: 0;
	width: 100%;
	height: 100%;
	color: #e1ffff;
}

.theme-list-jl .toggle-btn {
	display: none;
}

.card-body-theme {
	padding: 0 !important;
}

/*-----------------------------------------------------------------------------------*/
.theme--light.v-table {
	background-color: #272d33 !important;
	color: white !important;
}

.theme--light.v-table thead th {
	color: white !important;
}

.theme--light.v-input:not(.v-input--is-disabled) input,
.theme--light.v-input:not(.v-input--is-disabled) textarea {
	color: white !important;
}

.theme--light.v-label {
	color: white !important;
}

.theme--light.v-icon {
	color: white !important;
}

.theme--light.v-datatable .v-datatable__actions {
	background-color: #272d33 !important;
	border-top: 1px solid #272d33 !important;
	color: white !important;
}

#logo {
	width: 185px;
	height: 69px;
	-webkit-transition: fade 0.35s ease;
	/* For Safari 3.1 to 6.0 */
	transition: fade 0.35s ease;
}

#search.width {
	-webkit-transition: width 0.35s ease;
	/* For Safari 3.1 to 6.0 */
	transition: width 0.35s ease;
}

#search-header {
	text-align: right;
	line-height: 75px;
}

#input-search.width {
	width: 0;
	-webkit-transition: width 0.35s ease;
	/* For Safari 3.1 to 6.0 */
	transition: width 0.35s ease;
}

.login-group {
	margin-left: 20px;
}

.login-header {
	text-align: right;
}

.currency-hidden {
	display: none;
}

/*------------header-top-buttons-------------*/

.btn-menu-top {
	font-size: 11px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-menu-top-login {
	text-align: left;
	font-size: 11px;
}

ul.nav>li.sa-stacker>a {
	background-color: #bd2130 !important;
	color: #fff !important;
	padding: 7px 10px;
}

ul.nav>li.sa-stacker>a:hover {
	background-color: #bd2130 !important;
}

ul.nav>li.sa-stacker>a {
	background-color: #bd2130 !important;
	color: #fff;
	padding: 7px 10px;
}

.active-menu-item {
	color: #fff !important;
	background-color: rgb(0 0 0 / 40%) !important;
}

.active-menu-item a {
	color: #fff !important;
}

/*------------navbar-responsive-------------*/

.btn-top-responsive {
	font-size: 12px;
	padding-left: 10px;
}

#navbar-responsive {
	padding: 10px;
}

/*---------------------------------------------------HEADER END//----------------------------------------------*/

/*----------------------------------------LOGIN-REGISTER-INITIAL//-----------------------------------------*/

#login-dp {
	min-width: 250px;
	padding: 14px 14px 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.8);
}

.main>.content-relog {
	max-width: 400px !important;
}

.reg-submit {
	/**/
}

.log-submit {
	/**/
}

#dropdown-menu-login {
	border: 0;
	border-radius: 0.5rem;
	background-color: #343a40;
	width: 250px;
	margin-left: -115px;
	margin-top: 15px;
}

#dropdown-menu-register {
	border: 0;
	border-radius: 0.5rem;
	background-color: #343a40;
	width: 280px;
	margin-left: -115px;
	margin-top: 15px;
}

#dropdown-menu-list {
	border: 0;
	border-radius: 0.3rem;
	background-color: #343a40;
	width: 180px;
	margin-left: -15px;
	margin-top: 5px;
}

#login-dp .help-block {
	font-size: 12px;
}

#login-dp .bottom {
	background-color: rgba(255, 255, 255, 0.8);
	border-top: 1px solid #ddd;
	clear: both;
	padding: 14px;
}

#login-dp .social-buttons {
	margin: 12px 0;
}

#login-dp .social-buttons a {
	width: 49%;
}

#login-dp .form-group {
	margin-bottom: 10px;
}

.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #343a40;
	background-clip: border-box;
	border: none;
	border-radius: 0.25rem;
	color: #fff;
}

.btn-danger {
	background-color: #ed3037;
	border-color: #ed3037;
}

.btn-fb {
	color: #fff;
	background-color: #3b5998;
}

.btn-fb:hover {
	color: #fff;
	background-color: #496ebc;
}

.btn-tw {
	color: #fff;
	background-color: #55acee;
}

.btn-tw:hover {
	color: #fff;
	background-color: #59b5fa;
}

.card-header:first-child {
	border-radius: 0;
	background-color: #343a40;
	border-top: none;
	border-right: none;
	border-left: none;
}

.btn-facebook {
	background: #3b5998;
	color: #fff;
	padding-right: 17px;
	padding-left: 17px;
	margin: 5px 5px 5px 0;
}

.btn-twitter {
	background: #00aced;
	color: #fff;
	padding-right: 15px;
	padding-left: 15px;
}

.btn-google {
	background: #c32f10;
	color: #fff;
	margin: 5px;
	padding-right: 10px;
	padding-left: 15px;
}

.btn-facebook-c {
	background: #3b5998;
	color: #fff;
}

.btn-twitter-c {
	background: #00aced;
	color: #fff;
}

.btn-google-c {
	background: #c32f10;
	color: #fff;
}

.form-check-label {
	font-size: 12px;
	margin-top: 7px;
}

#terminos-fg {
	color: #ccc;
	font-size: 13px;
	text-align: center;
}

#option1,
#option2,
#option3 {
	box-sizing: border-box;
	padding: 0;
	display: none;
}

#check-term {
	color: #ffffff;
	font-size: 12px;
	justify-content: center;
	display: flex;
}

#socialnetworks-group {
	display: flex;
	justify-content: center;
}

/*----------------------------------------------------LOGIN-REGISTER-END//-----------------------------------------*/

/*----------------------------------------------------MAIN INITIAL//------------------------------------------------*/

.main {
	height: auto;
}

.main-static {
	height: 800px;
}

iframe {
	border: none;
	margin: 0;
	overflow: hidden;
}

#bg-light {
	background-color: transparent;
}

.text-center {
	text-align: center !important;
	font-size: 12px;
}

#check-term {
	color: #ffffff;
	font-size: 12px;
	justify-content: center;
	display: flex;
	line-height: 15px;
}

/*----------------------------------------------------MAIN END//------------------------------------------------*/

/*----------------------------------------------------PROFILE INITIAL//-----------------------------------------*/

.profile-content-historial {
	padding: 10px;
	min-height: 460px;
	background: #343a40;
	color: #fff;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.blockin {
	padding-right: 5px;
	padding-left: 5px;
}

.header-name {
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 20px;
}

.header-info-user {
	font-size: 11px;
	color: #ccc;
}

.header-profile {
	font-size: 11px;
	color: #ccc;
	padding-left: 10px;
	padding-right: 0;
	margin-bottom: 20px;
}

.header-profile-two {
	font-size: 11px;
	color: #ccc;
	padding-left: 0;
	padding-right: 0;
}

.balance {
	margin-top: 50px;
}

.balance-total {
	font-size: 20px;
	font-weight: 700;
	color: #ccc;
	padding: 10px;
	letter-spacing: 3px;
	text-align: center;
	background: linear-gradient(-130deg, #343a40 90%, transparent 10%);
}

.points {
	font-size: 20px;
	font-weight: 700;
	color: #ccc;
	padding: 10px;
	letter-spacing: 3px;
	text-align: center;
	background: linear-gradient(130deg, #343a40 90%, transparent 10%);
}

select.form-control.input-sm {
	background: #2c3034 !important;
	border: 0 !important;
	border-radius: 3px !important;
	color: #fff !important;
	font-weight: 500 !important;
	font-size: 13px !important;
	font-family: "Roboto", sans-serif;
	max-height: 30px;
}

.pagination>li>a,
#pagination>li>span {
	border: 0 !important;
	border-radius: 0 !important;
	color: #fff !important;
	padding: 3px;
	float: right;
	background: #2c3034 !important;
}

.pagination {
	background: #2c3034 !important;
	border: 0 !important;
	border-radius: 5px !important;
	color: #fff !important;
	font-weight: 500 !important;
	font-size: 12px !important;
	font-family: "Roboto", sans-serif;
	padding: 3px;
	float: right;
}

input.form-control.input-sm {
	background: #2c3034 !important;
	border: 0 !important;
	border-radius: 3px !important;
	color: #fff !important;
	font-weight: 500 !important;
	font-size: 12px !important;
	font-family: "Roboto", sans-serif;
	max-height: 30px;
}

.container-back {
	padding: 0;
}

.profile {
	padding-top: 10px;
}

.profile-sidebar {
	padding: 20px 5px 10px 5px;
	background: #272d33;
}

.profile-userpic img {
	float: none;
	text-align: center;
	width: 50%;
	height: 50%;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

.profile-usertitle {
	text-align: center;
	margin-top: 20px;
}

.con-pic {
	text-align: center;
}

.profile-usertitle-name {
	color: #5a7391;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 7px;
}

.profile-usertitle-job {
	text-transform: uppercase;
	color: #5b9bd1;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
}

.profile-list {
	margin-top: 10px;
	font-size: 14px;
}

.item-list-o {
	background: #343a40 !important;
}

.item-list-o:hover {
	background: #212529 !important;
}

.profile-content {
	padding: 10px;
	min-height: 260px;
	background: url("/assets/img/auth/banner-profile-top02.png") #343a40;
}

.cashin,
.cashout {
	margin-right: 8px;
}

.profile-form-container {
	padding-left: 10px;
	padding-right: 10px;
}

.input-group {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
	background: #343a40;
}

.modal-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 1px solid #e9ecef;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
}

.bg-modal-cashin {
	background: #343a40 !important;
}

#btn-wl {
	/* background: #335555 !important;
    border-color: #0c0c0c;*/
}

/*----------------------------------------------------PROFILE END//-----------------------------------------*/

/*----------------------------------------------------FOOTER INITIAL//-----------------------------------------*/
.container-footer {
	padding: 0px !important;
}

.line-footer {
	height: 10px;
	background-color: #ed3037 !important;
}

#footer {
	background: #33383c;
	/*#181818*/
}

.footer-networks {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.footer-bs {
	background-color: #272d33;
	/*#121212*/
	padding: 0;
	color: rgba(255, 255, 255, 1);
	border-top-left-radius: 0;
	width: 100%;
}

.pure-img {
	max-width: 70%;
	display: block;
	margin: 0 auto;
}

.unique-color-dark {
	background-color: #1c2331 !important;
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
	padding: 10px 25px;
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
	border-color: transparent;
}

.footer-bs .footer-brand h2 {
	margin: 0 0 10px;
}

.footer-bs .footer-brand p {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.7);
}

.footer-bs .footer-nav ul.pages {
	list-style: none;
	padding: 0;
}

.footer-bs .footer-nav ul.pages li {
	padding: 5px 0;
}

.footer-bs .footer-nav ul.pages a {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	text-transform: uppercase;
}

.footer-bs .footer-nav ul.pages a:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
	list-style: none;
	padding: 0;
}

.footer-bs .footer-nav ul.list li {
	padding: 5px 0;
}

.footer-bs .footer-nav ul.list a {
	color: rgba(255, 255, 255, 0.8);
}

.footer-bs .footer-nav ul.list a:hover {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.footer-bs .footer-social ul {
	list-style: none;
	padding: 0;
}

.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.footer-bs .footer-social li {
	padding: 5px 4px;
}

.footer-bs .footer-social a {
	color: rgba(255, 255, 255, 1);
}

.footer-bs .footer-social a:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
}

.footer-bs .footer-ns p {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.7);
}

#myBtnup {
	display: none !important;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #ed3037;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

#myBtnup:hover {
	background-color: #181c20;
}

.nav-link-mini {
	font-size: 12px !important;
	cursor: pointer;
}

/*----------------------------------------------------FOOTER END//-----------------------------------------*/

/*----------------------------------------------------ERROR 404 INITIAL//-----------------------------------------*/

#error-bg {
	background-color: #33383c;
	padding: 50px 0 50px 0;
}

#error-card {
	background-color: #272d33;
	color: #ccc;
	padding: 20px 0 20px 0;
}

#error-txt {
	font-size: 100px;
	color: #ffffff;
}

#error-card-generic {
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 150px;
	text-align: center;
	color: #ccc;
	text-transform: initial;
	align-items: center;
	display: flex;
	justify-content: center;
}

#error-img-generic {
	width: 90%;
}

/*----------------------------------------------------ERROR END//-----------------------------------------*/

/*----------------------------------------------------RESPONSIVE//-----------------------------------------*/

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
	#logo {
		width: 100%;
		padding: 5px;
		padding-top: 5px;
		text-align: center;
	}

	.login-header {
		text-align: center;
		padding: 0;
	}

	.login-group {
		margin-left: 0;
	}

	.direct {
		font-size: 12px;
	}

	.about {
		font-size: 12px;
	}

	.btn-mini {
		display: none;
	}

	#navbarDropdown {
		display: none;
	}

	.login-group-default {
		margin-top: 7px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.navbar-brand {
		height: 75px;
		width: 100px;
	}

	.main-static {
		height: 550px;
		padding-top: 50px;
		padding-bottom: 50px;
		background: #343a40;
	}

	#login-dp {
		background-color: inherit;
		color: #fff;
	}

	#login-dp .bottom {
		background-color: inherit;
		border-top: 0 none;
	}

	.footer-bs .footer-nav,
	.footer-bs .footer-social,
	.footer-bs .footer-ns {
		border-left: solid 1px rgba(255, 255, 255, 0.1);
	}
}

@media only screen and (max-width: 1350px) {
	#login-dp {
		background-color: inherit;
		color: #fff;
	}

	#login-dp .bottom {
		background-color: inherit;
		border-top: 0 none;
	}

	.footer-bs .footer-nav,
	.footer-bs .footer-social,
	.footer-bs .footer-ns {
		border-left: solid 1px rgba(255, 255, 255, 0.1);
	}
}

@media (min-width: 2048px) and (max-width: 3840px) {
	.main {
		height: 1280px;
	}

	#error-card {
		margin-top: 20%;
	}
}


.home-title {
	display: flex;
	justify-content: center;
	z-index: 20;
	padding: 26px 0 19px;
}

.home-title h3 {
	color: #ebebd3;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
	margin: 0;
	display: flex;
	align-items: center;
	width: 100%;
	gap: 10px;
}

.home-title h3::before {
	background: linear-gradient(to right, transparent, #ebebd3) !important;
}

.home-title h3::before {
	content: "";
	position: relative;
	width: 100%;
	height: 3px;
	flex: 1;
	background: #ebebd3;
}

.home-title h3::after {
	background: linear-gradient(to right, #ebebd3, transparent) !important;
}

.home-title h3::after,
.home-title h3::before {
	content: "";
	position: relative;
	width: 100%;
	height: 3px;
	flex: 1;
	background: #ebebd3;
}

.home-title .title {
	font-family: 'Exo 2', sans-serif !important;
	font-size: 16px !important;
}