.avatar-group li {
    display: inline-block;
}

.img-avatar-item {
    height: 80px;
    background-color: #2c3034;
}

.profile .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: none !important;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    background: transparent !important;
}

.profile .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    text-transform: uppercase;
}

.profile .modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: none !important;
}

.badge-wl {
    position: absolute;
    margin-top: -26px;
    right: 31%;
    font-size: 21px !important;
    border-radius: 50px;
    color: #fff;
    background-color: #343a40;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.blockin {
    padding-right: 5px;
    padding-left: 5px;

}

.header-name {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.header-info-user {
    font-size: 11px;
    color: #ccc;
}

.header-profile {
    font-size: 11px;
    color: #ccc;
    padding-left: 10p;
    padding-right: 0;
    margin-bottom: 20px;
}

.header-profile-two {
    font-size: 11px;
    color: #ccc;
    padding-left: 0;
    padding-right: 0;
}

.balance {
    margin-top: 50px;
}

.balance-total {
    font-size: 30px !important;
    font-weight: 700;
    color: #fff;
    padding: 10px;
    letter-spacing: 3px;
    text-align: center;
    background: #242424 !important;
    min-height: 60px;
    border-radius: 50px;
    line-height: 50px;
    box-shadow: 2px 2px 5px 0px #000;
}

.points {
    font-size: 20px;
    font-weight: 700;
    color: #ccc;
    padding: 10px;
    letter-spacing: 3px;
    text-align: center;
    background: linear-gradient(130deg, #343a40 90%, transparent 10%);
}

select.form-control.input-sm {
    background: #2c3034;
    border: 0 !important;
    border-radius: 3px !important;
    color: #FFF !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    font-family: 'Roboto', sans-serif;
    max-height: 30px;
}


.pagination>li>a,
#pagination>li>span {

    border: 0 !important;
    border-radius: 0 !important;
    color: #FFF !important;
    padding: 3px;
    float: right;
    background: #2c3034 !important;
}

.pagination {
    background: #2c3034 !important;
    border: 0 !important;
    border-radius: 5px !important;
    color: #FFF !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    font-family: 'Roboto', sans-serif;
    padding: 3px;
    float: right;
}


input.form-control.input-sm {
    background: #2c3034 !important;
    border: 0 !important;
    border-radius: 3px !important;
    color: #FFF !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    font-family: 'Roboto', sans-serif;
    max-height: 30px;
}

/* Profile container */
.container-back {

    padding: 0;
}

.profile {
    padding-top: 10px;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 5px 10px 5px;
    background: #272d33;

}

.profile-userpic img {
    float: none;
    text-align: center;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.con-pic {
    text-align: center;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-list {
    margin-top: 10px;
    font-size: 14px;

}

.item-list-o {
    background: #343a40;
}

.item-list-o:hover {
    background: #212529;
}

.btn-ubii-w {
    background: #00a4e4 !important;
}

.logo-ubii-w {
    float: right;
    height: 40px;
}

.profile-form-container {
    padding-left: 10px;
    padding-right: 10px;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    background: #343a40;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    background: #212531;
}

.bg-modal-cashin {
    background: #343a40 !important;
}

.theme--light.v-table tbody tr[active] {
    background: rgb(255, 255, 255, 0.1) !important;
}

.theme--light.v-table tbody tr:hover:not(.v-datatable__expand-row) {
    background: rgb(255, 255, 255, 0.1) !important;
}

.v-input__slot {
    width: 25%;
    float: right;
}

.v-input__control {
    flex-wrap: wrap-reverse;
}

/**/
#w2Password {
    z-index: 10000;
}

#w2Password .modal-header {
    color: #ebebd3;
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
    max-width: 300px;
    margin: 1rem auto;
    background: linear-gradient(40deg, #292d3d, #03040d) !important;
    border: none;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: -1.25rem !important;
    margin-bottom: 0 !important;
    height: 60px;
    padding: 1rem !important;
    color: #fff;
}

#w2Password .modal-header h5 {
    color: #ebebd3;
    font-size: 1.2rem;
}

#w2Password .modal-content {
    background-color: rgba(60, 60, 60, .95) !important;
    color: #fff !important;
    border-radius: 0;
}

#w2Password .modal-dialog {
    margin: 1.75rem auto;
    border: none;
    border-radius: 0;
    padding: 1.5rem;
    text-align: center;
    max-width: 350px !important;
}

#w2Password .el-input-group__prepend {
    background-color: transparent;
    color: #909399 !important;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: none !important;
    border-radius: 0 !important;
    padding: 0 20px !important;
    width: 0 !important;
    white-space: nowrap;
}

#w2Password .el-input__inner {
    -webkit-appearance: none;
    background-color: transparent !important;
    background-image: none;
    border-radius: 4px;
    border: none !important;
    border-bottom: 1px solid #1a1d23 !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #999 !important;
    display: inline-block !important;
    font-size: inherit;
    height: 32px !important;
    line-height: 32px !important;
    outline: 0;
    padding: 0 15px !important;
    -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100% !important;
}

.el-button--info.is-plain {
    color: #909399 !important;
    background: #292d3d !important;
    border: none !important;
}

.reg-submit {
    color: #909399 !important;
    background: #292d3d !important;
    height: 50px;
    border: none;
}

#w2Password .theme--light.v-table thead th {
    color: rgb(255 255 255 / 54%);
}

/* */